.channelVideos {
    // width: 100vw;
    // background: #181818;

    &__content {
        box-sizing: border-box;
        width: 100%;
        // justify-content: center;
        // padding-top: 20px;
        // padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: calc(100vh - 56px);
        justify-content: space-between;
        
        &__item {
            width: 205px;
            // margin-right: 10px;
            margin-top: 20px;
            cursor: pointer;

            &:active {
                background-color: #212121;
            }  

            &__img {
                width: 205px;
                height: 117px;
                object-fit: cover;
            }

            &__title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                margin-top: 12px;
                margin-bottom: 6px;
                height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__channel-name, &__views  {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #AAAAAA;
                margin: 0px;
                width: fit-content;
            }

            &__channel-name {
              &:hover {
                color: #fff;
              }  
            }
        }
    }
}