@import "roboto.css";
@import "~normalize.css";


body {
    font-family: 'Roboto';
}

#rightSideWrapper {
    /*Strictly Necessary */
    /* width:70%;  */
    /* float: right;
        padding-top: 56px;
    background: aqua;	 */
    }