.header {
    width: 100%;  
    background-color: #212121;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    // justify-content: space-between;

    &__hamburger {
        margin-left: 16px;
        &:hover {
            cursor: pointer;
        }
    };

    &__logo {
        margin-left: 16px;
        &:hover {
            cursor: pointer;
        }
    }
}