.searchVideos {
    width: 100vw;
    background: #181818;

    &__content {
        box-sizing: border-box;
        width: 100%;
        justify-content: flex-start;
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: calc(100vh - 56px);
        color: white;

        &__item {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            cursor: pointer;
            &:active {
                background-color: #212121;
            }  

        }

        &__info {
            margin-left: 20px;
        }


        &__title {
            margin: 0;
            font-size: 18px;
            color: #FFFFFF;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__views, &__channel-name, &__description {
            margin-top: 5px;
            font-size: 12px;
            color: #AAAAAA;;
            overflow: hidden;
            text-overflow: ellipsis;
            width: fit-content;
        }

        &__channel-name-container {
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        &__channel-name {
            margin-left: 10px;
        }

        &__video-image {
            width: 360px;
            height: 202px;
            object-fit: cover;
            aspect-ratio: 16/9;
        }

        &__channel-image {
            background-repeat: no-repeat;
            // background-position: 50%;
            border-radius: 50%;
            width: 136px;
            height: 136px;
        }

        &__image-container {
            width: 360px;
            height: 202px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}